<h2>Edit Show Listing</h2>

<form action="/shows/$id$" method="POST" acceptCharset="UTF-8">
  <input type="hidden" name="_method" value="PUT"/>
  <p>
    <label for="bill">
      Bill:
    </label>
    <input type="text" name="bill" id="bill" value="$bill$"/>
  </p>

  <p>
    <label for="venue">
      Venue:
    </label>
    <input type="text" name="venue" id="venue"
      value="$venue$"/>
  </p>

  <p>
    <label for="date">
      Date:
    </label>
    <input type="date" name="date" id="date"
      value="$formatTime("%F", date)$"/>
  </p>

  <p>
    <label for="time">
      Time:
    </label>
    <input type="time" name="time" id="time"
      value="$formatTime("%H:%M", time)$"/>
  </p>

  <p>
    <label for="display_notes">
      Display Notes:
    </label>
    <textarea name="display_notes" id="display_notes">$if(display_notes)$$display_notes$$endif$</textarea>
  </p>

  <p>
    <label for="provenance">
      Provenance:
    </label>
    <input type="text" name="provenance" id="provenance"
      value="$if(provenance)$$provenance$$endif$"/>
  </p>
  <input type="submit" value="Create Listing"/>
</form>

